@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  box-sizing: border-box;
}

/* root values */
:root {
  --container-color: #1a1e21;
  --second-color: rgba(77, 228, 255);
  --text-color: #172317;
  --bg-color: #fff;
}

::selection {
  color: var(--bg-color);
  background: var(--second-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

section {
  padding: 3rem 0 2rem;
}

.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

a {
  color: #fff;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

header.shadow {
  background: var(--bg-color);
  box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
  transition: 0.5s;
}

header.shadow .logo {
  color: var(--text-color);
}

.nav {
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 18px 0; */
}

.logo {
  padding-left: 50px;
}

.logo span {
  color: var(--second-color);
}

.search-bar {
  width: 360px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #f2f2f2;
  padding: 20px;
}

.login {
  padding-right: 50px;
  color: #2e2e2e;
  /* text-align: right; */
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dropdown {
  width: 25px;
}

.sign {
  color: #2f6ce5;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home {
  width: 100%;
  min-height: 440px;
  background: url("images/banner5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-text {
  color: var(--bg-color);
  /* text-align: left; */
  padding-right: 600px;
  padding-top: 200px;
}

.home-title {
  font-size: 36px;
}

.home-subtitle {
  font-size: 1rem;
  font-weight: 400;
}

.about {
  position: relative;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.about .contentBx {
  max-width: 50%;
  width: 50%;
  text-align: left;
  padding-right: 40px;
}

.titleText {
  font-weight: 600;
  color: #111;
  font-size: 2rem;
  margin-bottom: 10px;
}

.title-text {
  color: #111;
  font-size: 1em;
}

.about .imgBx {
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
}

.btn2 {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  background: #fff;
  border: 0.8px solid #111;
  color: #333;
  text-decoration: none;
  transition: 0.5s;
}

.btn2:hover {
  background-color: var(--second-color);
  border: none;
  color: #fff;
}

.post-filter {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem;
}

.filter-item {
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

.active-filter {
  background: var(--second-color);
  color: var(--bg-color);
  padding: 4px 10px;
  border-radius: 4px;
}

.post {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(280px, auto)); */
  margin-right: 300px;
  margin-left: 100px;
  width: 602px;
  height: 472px;
  flex-shrink: 0;
  gap: 1.5rem;
}

.post-box {
  margin: 30px;
  background: var(--bg-color);
  box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
}

.mid-block {
  display: flex;
}

.post-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.category {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--second-color);
}

.post-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 5px 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.modal-details {
  display: flex;
  justify-content: space-between;
}

.modal-account-title {
  padding-top: 20px;
  color: #3d3d3d;
  text-align: right;
  font-family: IBM Plex Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-signin {
  color: #2f6ce5;
  font-family: IBM Plex Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.profile {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.profile-info {
  align-items: center;
  gap: 5px;
  display: flex;
}

.profile-views {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--second-color);
}

.profile-name {
  font-size: 0.8rem;
  font-weight: 500;
}

.location-block {
  width: 270px;
}

.location {
  display: flex;
  gap: 80px;
}

.info-logo {
  width: 20px;
}

.edit-logo {
  width: 20px;
}

.location-logo {
  padding-top: 10px;
  width: 15px;
  height: 35px;
  margin-right: 15px;
}

.location-info {
  margin-top: 2rem;
  display: flex;
  gap: 10px;
  color: #000;
  font-family: IBM Plex Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  margin-top: 3rem;
  background: #111;
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-container .sec {
  margin-right: 30px;
}

.footer-container .sec.aboutus {
  width: 40%;
}

.footer-container h2 {
  position: relative;
  color: #fff;
  margin-bottom: 15px;
}

.footer-container h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: rgb(77, 228, 255);
}

footer p {
  color: #fff;
}

.sci {
  margin: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.5s;
}

.sci li a:hover {
  background: rgb(77, 228, 255);
}

.sci i a .bx {
  color: #fff;
  font-size: 20px;
}

.quicklinks {
  position: relative;
  width: 25%;
}

.quicklinks ul li {
  list-style: none;
}

.quicklinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: 0.3s;
}

.quicklinks ul li a:hover {
  color: #fff;
}

.footer-container .contactBx {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contactBx .info {
  position: relative;
}

.contactBx .info li {
  display: flex !important;
  margin-bottom: 16px;
}

.contactBx .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contactBx .info li span {
  color: #999;
}

.contactBx .info li a {
  color: #999;
  text-decoration: none;
  transition: 0.5s;
}

.contactBx .info li a:hover {
  color: #fff;
}

@media (max-width: 1060px) {
  .container {
    margin: 0 auto;
    width: 95%;
  }

  .home-text {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 10px 0;
  }

  section {
    padding: 2rem 0 !important;
  }

  .header-content {
    margin-top: 3rem !important;
  }

  .home {
    min-height: 380px;
  }

  .home-title {
    font-size: 2rem;
  }

  .header-title {
    font-size: 1rem;
  }

  .header-img {
    height: 370px;
  }

  .about {
    flex-direction: column;
  }

  .about .contentBx {
    min-width: 100%;
    width: 100%;
    text-align: center;
    padding-right: 0px;
  }

  .about .contentBx,
  .about .imgBx {
    min-width: 100%;
    width: 100%;
    padding-right: 0px;
    text-align: center;
  }

  .about .imgBx {
    min-height: 250px;
  }

  .btn2 {
    margin-bottom: 30px;
  }

  .post-header {
    height: 435px;
  }

  .post-header {
    margin-top: 9rem !important;
  }
}

/* Signup Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-top {
  width: fit-content;
  block-size: fit-content;
  border-radius: 8px 8px 0px 0px;
  background: #effff4;
}

.modal-top-text {
  padding: 15px;
  color: #008a45;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.name-info {
  display: flex;
}

.create-account-button {
  width: 390px;
  height: 40px;
  color: white;
  border-radius: 20px;
  background: #2f6ce5;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 15px;
  padding: 8px;
}

button {
  /* background-color: #007bff; */
  background: none;
  color: #2f6ce5;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.signup-form {
  display: flex;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

#signinForm {
  display: none;
}

#switchToSignIn,
#switchToSignUp {
  color: #007bff;
  cursor: pointer;
}

#switchToSignIn:hover,
#switchToSignUp:hover {
  text-decoration: underline;
}

@media (max-width: 570px) {
  .logo {
    padding-left: 10px;
  }
  .home {
    overflow: hidden;
  }
  .search-bar {
    display: none;
  }
  .location-block {
    display: none;
  }
  .home-title {
    font-size: 2rem;
    margin-left: 20rem;
    font-size: large;
  }

  .home-subtitle {
    display: none;
  }

  .home {
    min-height: 300px;
  }

  .post-header {
    height: 390px;
  }

  .header-title {
    width: 100%;
  }

  .header-img {
    height: 340px;
  }

  .post-filter{
        margin-top: 2rem;
    }
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
      }
      
      .modal-content {
        background-color: #fefefe;
        border: 1px solid #888;
        padding: 5px;
        width: 100%;
      }
      .modal-top{
            display: none;
        }
        
}

@media (max-width: 396px) {
  .home-title {
    font-size: 2rem;
  }

  .home-subtitle {
    font-size: 0.9rem;
  }

  .home {
    min-height: 300px;
  }

  .post-box {
    padding: 10px;
  }

  .header-title {
    font-size: 1.4rem;
  }

  .header-img {
    height: 240px;
  }

  .post-header {
    height: 335px;
  }

  .header-img {
    height: 340px;
  }
}


